<div id="bars-carousel" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ol class="carousel-indicators" id="carousel-indicators">
    {{#each data}}
        <li data-target="#bars-carousel" data-slide-to="{{this.id}}"></li>
    {{/each}}
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox" id="carousel-inner">
    {{#each data}}
      <div class="item">
        <div class="overlay"></div>
        <img class="street-view-image street-view-image-logged-out clip" src="https://maps.googleapis.com/maps/api/streetview?size=640x583&location={{this.address}},{{this.city}},{{this.state}}&scale=2&pitch=5&key=AIzaSyDyIX1_gmBhMrXFfGI_0bDXRQibEGqW_B0">
        <div class="carousel-caption-container">
        <div class="carousel-caption">
          <h1>{{this.name}}</h1>
          <h4>{{this.address}}, {{this.city}}, {{this.state}}</h4>
          {{#if this.avgRating}}
            <h4>Average user rating: <span class='rating-small'>{{{this.avgRatingHearts}}} </span></h4>
          {{else}}
            <h4>Bar not yet rated by any users</h4>
          {{/if}}

          {{#if this.yourRating}}
            <h4 class="logged-in-option" hidden>
              Your rating: <span class='rating-small'>{{{this.yourRatingHearts}}} </span>
            </h4>
          {{else}}
            <h4 class="logged-in-option" hidden>
              <a href="#" id="write-a-review" class="logged-in-option" data-toggle="modal" data-target="#write-review-modal-{{this.id}}">Write a Review</a>
            </h4>
          {{/if}}

          {{#if this.yourFavorite}}
          <h5 class="logged-in-option" hidden>
            <a href="#" data-toggle="modal" data-target="#remove-favorites-modal-{{this.id}}" id="remove-fav-{{this.id}}">Remove from Favorites</a><a href="#" data-toggle="modal" data-target="#add-favorites-modal-{{this.id}}" id="add-fav-{{this.id}}" hidden>Add to Favorites</a>
          </h5>
          {{else}}
          <h5 class="logged-in-option" hidden>
            <a href="#" data-toggle="modal" data-target="#remove-favorites-modal-{{this.id}}" id="remove-fav-{{this.id}}" hidden>Remove from Favorites</a><a href="#" data-toggle="modal" data-target="#add-favorites-modal-{{this.id}}" id="add-fav-{{this.id}}">Add to Favorites</a>
          </h5>
          {{/if}}
        </div>
      </div>
      </div>
    {{/each}}
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#bars-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#bars-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>

</div>
