  {{#each data}}
  <ul class="fav-list-item">
      <h4 class="bar-name">{{this.name}}</h4>
      <label class="bar-address">{{this.address}}, {{this.city}}, {{this.state}} {{this.zip}}</label>
      <span class="rating-delete-group">
      {{#if this.yourRating}}
        <span class='rating'>{{{this.yourRatingHearts}}} </span>
      {{else}}
        <a href="#" id="write-a-review" class="review-test" data-toggle="modal" data-target="#write-review-modal-{{this.id}}">Review this bar</a>
      {{/if}}
      <span class="btn-delete-bar"><button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#remove-favorites-modal-{{this.id}}">Remove</button></span>
    </span>
  </ul>
  {{/each}}
