  {{#each data}}
  <ul class="fav-list-item">
      <h4 class="bar-name">{{this.name}}</h4>
      <label class="bar-address">{{this.address}}, {{this.city}}, {{this.state}} {{this.zip}}</label>
      <span class="rating-delete-group">
      <span class="rating">
        <span class="glyphicon glyphicon-heart rating-heart" aria-hidden="true" id="one-heart"></span>
        <span class="glyphicon glyphicon-heart rating-heart" aria-hidden="true" id="two-hearts"></span>
        <span class="glyphicon glyphicon-heart rating-heart" aria-hidden="true" id="three-hearts"></span>
        <span class="glyphicon glyphicon-heart rating-heart" aria-hidden="true" id="four-hearts"></span>
        <span class="glyphicon glyphicon-heart rating-heart" aria-hidden="true" id="five-hearts"></span>
      </span>
      <span class="btn-delete-bar"><button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#remove-favorites-modal-{{this.id}}">Remove</button></span>
    </span>
  </ul>
  {{/each}}
