<div class="fav-list">
  {{#each data}}
  <ul class="fav-list-item">
      <h4 class="bar-name">{{this.name}}</h4>
      <label class="bar-address">{{this.address}}, {{this.city}}, {{this.state}} {{this.zip}}</label>
      <span class="rating">
        <span class="glyphicon glyphicon-heart rating-heart" aria-hidden="true" id="one-heart"></span>
        <span class="glyphicon glyphicon-heart rating-heart" aria-hidden="true" id="two-hearts"></span>
        <span class="glyphicon glyphicon-heart rating-heart" aria-hidden="true" id="three-hearts"></span>
        <span class="glyphicon glyphicon-heart rating-heart" aria-hidden="true" id="four-hearts"></span>
        <span class="glyphicon glyphicon-heart rating-heart" aria-hidden="true" id="five-hearts"></span>
      </span>
      <label class="update-profile-links delete-bar"><a href="#">Delete this bar from favorites</a></label>
  </ul>
  {{/each}}
  <h6><a href="#">Edit Favorites</a> // <a href="#">Add Favorites</a></h6>
</div>
